#treeview {
    height: 400px;
  }
  
  .options {
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 260px;
    top: 0;
    background-color: #f5f5f5;
  }
  
  .caption {
    font-size: 18px;
    font-weight: 500;
  }
  
  .option {
    margin-top: 10px;
  }
  
  .option > .dx-selectbox {
    display: inline-block;
    vertical-align: middle;
    max-width: 350px;
    width: 100%;
    margin-top: 5px;
  }

  .form {
    display: flex;
  }
  
  .form > div,
  #treeview {
    display: inline-block;
    vertical-align: top;
  }
  
  .log-container {
    padding: 20px;
    margin-left: 20px;
    font-size: 115%;
    font-weight: bold;
    background-color: rgba(191, 191, 191, 0.15);
    height: 100%;
  }
  
  .log-container .dx-icon-clock {
    position: relative;
    top: 1px;
  }
  
  #log {
    margin-top: 10px;
  }
  
  #log .dx-empty-message {
    padding-left: 0;
  }
  
  .dx-list-item-content {
    padding-left: 0;
  }
  